.nav {
  position: fixed;
  top: 48px;
  width: 100vw;
  background-color: white;
  transition: all 0.5s;
  overflow-y: scroll;
  height: calc(100vh - 48px);
  z-index: 100;
}

.navHidden {
  right: -120%;
}

.navVisible {
  right: 0;
}

.container {
  width: 100%;
  padding-top: 5px;
}

.title {
  margin: auto;
  margin-top: 16px;
  padding: 2px 3px;
  width: 80%;
  background-color: #709dd8;
  color: white;
  font-size: 1.4em;
  text-align: center;
  border-radius: 5px;
}

.menu {
  width: 80%;
  margin: 3px auto;
}

.menuItem {
  margin-left: 12px;
  border-bottom: 1px solid #e2e2e2;
}

.link {
  display: flex;
  align-items: center;
  color: #6d6d6d;
  line-height: 3;
  transition: all 0.3s;
}

.linkHover:hover {
  background-color: #f7f7f7;
  padding-left: 16px;
}

.icon {
  margin-right: 4px;
}

.subMenuItem {
  margin-left: 32px;
  border-bottom: 1px solid #e2e2e2;
}
