.label {
  display: inline-block;
  padding: 12px 16px;
  color: #5e6c77;
  background-color: #fff;
  border-left: 8px solid #709dd8;
  font-weight: bold;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
