.label {
  display: inline-block;
  padding: 8px 16px;
  color: #4a5567;
  background-color: #fff;
  border-left: 8px solid #709dd8;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
