.profileInfo {
  border: 1px solid rgb(226 226 226);
  padding: 16px;
  text-align: center;
}

.imageContainer {
  margin: auto;
  height: 120px;
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
}

.image {
  transition-duration: 300ms;
}

.image:hover {
  transform: scale(1.1);
}

.authorName {
  margin: auto;
  margin-top: 1rem;
  display: block;
  font-size: 1.25rem;
  color: #4a5568;
}

.authorCopy {
  margin: auto;
  font-size: 1rem;
  color: #718096;
}

.descriptionContainer {
  margin-top: 1.5rem;
  text-align: left;
  font-size: 0.875rem;
  color: #4a5568;
}

.descriptionList {
  margin-top: 0.75rem;
  padding-left: 1.25rem;
}

.descriptionItems {
  margin-top: 0.5rem;
  padding-left: 0.75rem;
}

.descriptionItem {
  line-height: normal;
}

.buttonContainer {
  margin-top: 1.25rem;
}

.twitterContainer {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
}
