.section {
  padding: 0 5%;
  color: rgb(99 112 123);
}

.h1 {
  color: #5e6c77;
  font-size: 24px;
  font-weight: bold;
}

.detailContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1.25rem;
}

.categoryContainer {
  margin-right: 1.25rem;
}

.tagContainer {
  margin-right: 2rem;
}

.timeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.timeItem {
  margin-left: 0.25rem;
  color: #718096;
  font-size: 1rem;
}

.figure {
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.message {
  padding: 0 5%;
}

.welcomeMessage {
  margin-top: 32px;
  line-height: 2;
}

.thanksMessage {
  line-height: 2;
}

.description {
  line-height: 2;
}
