.blogCard {
  display: flex;
  align-items: center;
  padding: 24px;
  border-radius: 2px;
  color: #709dd8;
  transition: 0.3s;
  box-shadow: 0 1px 3px 1px rgb(0 0 0 / 8%);
  position: relative;
}

.blogCard:hover {
  box-shadow: 0 2px 6px 2px rgb(0 0 0 / 16%);
}

.blogCard > img {
  max-width: 20%;
  max-height: 90px;
}

.blogCard__content {
  display: block;
  margin-left: 24px;
}

.blogCard__title {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  color: #5e6c77;
  line-height: 1.5;
  font-weight: bold;
}

.blogCard__description {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: 12px;
  color: #808080;
  font-size: 14px;
  line-height: 1;
}

.blogCard__site {
  position: absolute;
  bottom: 0;
  right: 8px;
  color: #808080;
  font-size: 8px;
}

@media screen and (max-width: 539px) {
  .blogCard {
    padding: 18px 12px;
  }

  .blogCard__img {
    max-width: 30%;
  }

  .blogCard__content {
    margin-left: 12px;
  }

  .blogCard__title {
    -webkit-line-clamp: 3;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
  }

  .blogCard__description {
    display: none;
  }

  .blogCard__site {
    display: none;
  }
}
/* blogCard */

/* blogCardTwitter */
.blogCardTwitter {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 2px;
  color: #5e6c77;
  transition: 0.3s;
  box-shadow: 0 1px 3px 1px rgb(0 0 0 / 8%);
  position: relative;
}

.blogCardTwitter:hover {
  box-shadow: 0 2px 6px 2px rgb(0 0 0 / 16%);
}

.blogCardTwitter__content {
  margin-left: 36px;
}

.blogCardTwitter__site {
  position: absolute;
  bottom: 0;
  right: 8px;
  color: #808080;
  font-size: 8px;
}
/* blogCardTwitter */

/* twitter-tweet-rendered */
.twitter-tweet {
  margin: 0 auto;
}

.twitter-tweet > .twitter-tweet-rendered {
  cursor: pointer;
}
/* twitter-tweet-rendered */
