.articleCard:hover {
  opacity: 0.7;
}

.imageContainer {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  transition-duration: 300ms;
}

.image:hover {
  transform: scale(1.05);
}
